* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  font-family: "Roboto", sans-serif;
}

.container {
  text-align: center;
  width: 300px;
  margin: 10px auto;
}

@media (max-width: 1000px) {
  .container {
    width: 80vw;
  }
}

img {
  width: 100%;
}
